body {
    display: block;
    margin: 20%;
    margin-top: 8px;
    /* margin-right: px; */
    /* margin-bottom: 4%; */
    margin-left: 35%;
    background-color:lightsalmon;
}

label{
    display:block;
    padding-bottom: 2rem;
}

input{
    width: 35%;
    height: 40px;
    background-color: lightsteelblue;
}


button{
    width: 20%;
    height: auto;
    background-color: lightsteelblue;
}



